.nav-link.active{
    background:green !important;
    color: white !important;
}

.nav-link{
    color: green !important;
}

.pic-size {
    height: auto;
    width: 100%;
    display: block;
}

.text-size {
    font-size: large;
}

.pointer {
    cursor: pointer;
}
