.material-icons {
    vertical-align: bottom;
}

.badge {
    font-size: 14px;
}

.pic-size {
    height: auto;
    width: 100%;
    display: block;
}

.card-img-top.img-size {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.height {
    height: 50px;
}

.rowheight {
    height: 25px;
}